body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #292727;
  color: #fff;
  overflow-x: hidden;
}


.nav {
  background: rgba(23,23,23,0.6);
  backdrop-filter: blur(6px);
  padding: 1.2rem 1rem;
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: 0.2s;
}

.nav a:hover {
  color: #d60000;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px; 
  height: 80vh;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  gap: 100px; 
  transition: transform 0.6s ease;
}

.arma {
  flex: 0 0 auto;
  text-align: center;
  cursor: pointer;
  transform: scale(0.85);
  opacity: 0.6;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.arma.active {
  transform: scale(1);
  opacity: 1;
}

model-viewer {
  width: 420px;
  height: 420px;
  margin-bottom: 20px;
}

.arma-info {
  background: rgba(0,0,0,0.75);
  padding: 15px;
  border-radius: 8px;
  display: none;
}

.arma.active .arma-info {
  display: block; 
}